version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: is-backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: is-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
